<div class="ideas">
  <% @ideas.each do |idea|%>
    <li>
      <h1><%= idea.title %></h1>
      <p><%= "#{idea.quality} idea, created on: #{idea.created_at}" %></p>
      <p><%= idea.body %></p>
    </li>
  <% end %>
</div>
